 .display{
    grid-column: span 4;
    background-color: #0004;
    display: flex;
    justify-content: flex-end;
    padding: 20px;
    align-items: center;
    font-size: 2.1em ;
    overflow: hidden;
 }